.ticker {
  padding : 20px; 
  border: 2px solid #ececec;
  border-radius: 8px;
}

.ticker__wrapper {
  width: 50%;
  margin: 20px 0;
}

.border-right {
  border-right: 2px solid #ececec
}

.btn-large {
  width: 100%;
}

.font-green {
  color: green !important;
}

.font-red {
  color: red !important;
}